// Color
$primary-color: #fbda00;
$secondary-color: #eee;
$font-color: #333;
$font-color-secondary: #bf081f;

// header
$header-primary-color: #fed700;
$header-secondary-color: #000;
$header-color-icon: #fff;
$header-search-field-text: #fff;
$header-border-div: #fff;
$header-border-cart: #8F8F8F;

// back to top 
$back-to-top-primary: #fed700;
$back-to-top-border: #000;

// product item
$product-hover-color: #288ad6;