// Color
$primary-color: #ffe227;
$secondary-color: #eee;
$font-color: #333;
$font-color-secondary: #ffe227;

// header
$header-primary-color: #ffe227;
$header-secondary-color: #121013;
$header-color-icon: #fff;
$header-search-field-text: #fff;
$header-border-div: #fff;
$header-border-cart: #8F8F8F;

// back to top 
$back-to-top-primary: #ffe227;
$back-to-top-border: #121013;

// product item
$product-hover-color: #288ad6;

//navbar 
$navbar-color-hover: #f5f5f5;